/* UI KIT */
:root {
    --white: #FFFFFF;
    --gray1: #FAFAFA;
    --gray2: #F2F2F2;
    --gray3: #E6E6E6;
    --gray4: #B3B3B3;
    --gray5: #808080;
    --gray6: #404040;
    --gray7: #241D0F;
    --primary1: #FFFFF5;
    --primary2: #FFF9DE;
    --primary3: #FFF1B4;
    --primary4: #FFE578;
    --primary5: #FFCE00;
    --primary6: #FFBF00;
    --primary7: #CFA40A;
    --blue1: #EFF5FF;
    --blue2: #E0ECFF;
    --blue3: #BAD5FF;
    --blue4: #6DA7FF;
    --blue5: #0D6EFF;
    --blue6: #0C408D;
    --green1: #EBF6F3;
    --green2: #C5EAE0;
    --green3: #9BDAC9;
    --green4: #60C6AA;
    --green5: #00966D;
    --green6: #016147;
    --red1: #FDF4F4;
    --red2: #F9E6E6;
    --red3: #F9C4C5;
    --red4: #F59799;
    --red5: #F64B4F;
    --red6: #AB2328;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: var(--gray7);
    font-weight: 400;
}

/* Buttons */
.btn {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5rem;
    vertical-align: middle;
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;

}

.btn-icon {
    padding: 6px;
}

.btn-style-none {
    background-color: transparent;
    border-color: none;
}

.btn-style-none:hover {
    color: var(--gray7);
    background-color: transparent;
    border-color: 0;
}

.btn-style-none:focus,
.btn-style-none.focus {
    background-color: transparent;
    border-color: 0 !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.btn-style-none.disabled,
.btn-style-none:disabled {
    color: var(--white);
    background-color: var(--white);
    border-color: 0;
}

.primary-btn {
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    color: var(--gray7);
}

.primary-btn:hover {
    color: var(--gray7);
}

.primary-btn:focus {
    color: var(--gray7);
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    border-color: none;
    box-shadow: 0px 0px 0px 3px rgba(255, 206, 0, 0.4);
}

.btn-disabled {
    color: var(--gray7) !important;
    background-image: linear-gradient(to right, #E6E6E6 0%, #E6E6E6 51%, #E6E6E6 100%);
    border-color: none;
    opacity: .6;
}

.outline-btn {
    background-color: var(--white);
    color: var(--gray7);
    border: solid 1px var(--gray7);
}

.outline-btn:focus {
    color: var(--gray7);
    background-color: var(--white);
    border: solid 1px var(--gray7);
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.outline-btn:hover {
    background-color: var(--gray1);
    color: var(--gray7);
    border: solid 1px var(--gray7);
}

.danger-outline-btn {
    background-color: var(--white);
    color: var(--red6);
    border: solid 1px var(--red6);
}

.danger-outline-btn:hover {
    background-color: var(--red1);
    color: var(--red6);
    border: solid 1px var(--red6);
}

.danger-outline-btn:focus {
    color: var(--red6);
    background-color: var(--white);
    border: solid 1px var(--red6);
    box-shadow: 0px 0px 0px 2px rgba(239, 46, 85, 0.5);
}

.danger-btn {
    background-color: var(--red5);
    color: var(--white);
    border: solid 1px var(--red5);
}

.danger-btn:hover {
    background-color: var(--red4);
    color: var(--white);
    border: solid 1px var(--red4);
}

.danger-btn:focus {
    color: var(--white);
    background-color: var(--red6);
    border: solid 1px var(--red6);
    box-shadow: 0px 0px 0px 2px rgba(239, 46, 85, 0.5);
}

.link-btn {
    background-color: transparent;
    color: var(--blue5);
    /* text-decoration: underline; */
    padding-left: .5rem;
    padding-right: .5rem;
}

.link-btn:hover {
    background-color: transparent;
    color: var(--blue5);
}

.link-btn:focus {
    color: var(--blue6);
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.ghost-btn {
    background-color: var(--white);
    color: var(--gray7);
}

.ghost-btn:focus {
    color: var(--gray7);
    background-color: var(--white);
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.ghost-btn:hover {
    background-color: var(--gray1);
    color: var(--gray7);
}

.ghost-btn-danger {
    color: var(--red5);
}

.ghost-btn-danger:hover {
    color: var(--red5);
    background-color: var(--red2);
}

.ghost-btn-danger:focus {
    color: var(--red5);
    background-color: var(--red2);
    box-shadow: 0px 0px 0px 2px rgba(246, 75, 79, 0.5);
}

.link {
    color: var(--blue5);
}

.circle-btn {
    padding: 6px;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-btn:hover {
    background: rgba(250, 250, 250, 0.8);
}

/* End buttons */

/* Inputs  */

.form-control,
.form-select,
.select2-selection {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.form-control:focus,
.form-select:focus {
    color: var(--gray7);
    background-color: var(--white);
    border-color: var(--gray7);
    outline: 0;
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.input-icon .form-control {
    padding-left: 2.5rem;
    border-radius: .5rem !important;
    -webkit-border-radius: .5rem !important;
    -moz-border-radius: .5rem !important;
    -ms-border-radius: .5rem !important;
    -o-border-radius: .5rem !important;
}

.input-icon span {
    /* background-color: pink; */
    position: absolute;
    z-index: 4;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-help {
    color: var(--red5);
    font-size: .875rem;
    position: absolute;
    display: none;
    /* display: block; */
}

.mb-form {
    margin-bottom: 1.25rem !important;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* End inputs */

/* Alerts */
.alert {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.alert span {
    font-variation-settings:
        'FILL' 1
}

.alert-info {
    color: var(--blue6);
    background-color: var(--blue3);
    border-color: var(--blue3);
}

.alert-info .link {
    color: var(--blue6);
}

.icon-fill {
    font-variation-settings:
        'FILL' 1
}

.alert-danger {
    color: var(--red6);
    background-color: var(--red2);
    border-color: var(--red3);
}

.alert-warning {
    color: var(--primary7);
    background-color: var(--primary2);
    border-color: var(--primary3);
}

/* End alerts */

/* Backgrounds */
.bg-info {
    background-color: var(--blue2) !important;
}

.bg-default {
    background-color: var(--gray2) !important;
}

/* End background */

/* badges */

.badge-success {
    color: #76B435;
}

.badge-warning {
    color: #FFAE11;
}

.badge-danger {
    color: #FF5F73;
}

.badge-info {
    color: #518AF9;
}

/* End badges */

/* Tags */
.tag {
    /* background-color: lavender; */
    display: inline-block;
    padding: .25rem .75rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.tag-info {
    background-color: var(--blue2);
    border: solid 1px var(--blue6);
    color: var(--blue6);
}

.tag-success {
    background-color: var(--green2);
    border: solid 1px var(--green6);
    color: var(--green6);
}

.tag-warning {
    background-color: var(--primary2);
    border: solid 1px var(--primary7);
    color: var(--primary7);
}

.tag-danger {
    background-color: var(--red2);
    border: solid 1px var(--red6);
    color: var(--red6);
}

/* End tags */

/* Typography */
.heading-1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.heading-2 {
    font-size: 2rem;
    font-weight: 600;
}

.heading-3 {
    font-size: 1.75rem;
    font-weight: 600;
}

.heading-4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.heading-5 {
    font-size: 1.25rem;
    font-weight: 600;
}

.heading-6 {
    font-size: 1rem;
    font-weight: 600;
}

.text-bold {
    font-weight: 600;
}

/* End typography */

/* Tabs */

.nav-pills .nav-link {
    background: var(--blue2);
    border-bottom: 1px solid var(--blue5);
    border-radius: .5rem .5rem 0 0;
    -webkit-border-radius: .5rem .5rem 0 0;
    -moz-border-radius: .5rem .5rem 0 0;
    -ms-border-radius: .5rem .5rem 0 0;
    -o-border-radius: .5rem .5rem 0 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--white);
    background-color: var(--blue5);
}

/* End tabs */

/* Switch */

.custom-switch .form-check-input {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.custom-switch {
    padding-left: 2.6em;
}

.custom-switch .form-check-input {
    margin-left: -2.6em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
}

/* End switch */

/* feedback colors */
.success-color {
    color: var(--green5);
}

.warning-color {
    color: var(--primary5);
}

.info-color {
    color: var(--blue5);
}

.danger-color {
    color: var(--red5);
}

/* End feedback colors */

/* UI KIT */

/* DASHBOARD */
.main-panel {
    display: flex;
}

.panel {
    display: none;
}

.active-panel {
    display: block;
}

/* Sidebar */

.wrap-sidebar-admin {
    /* background-color: var(--Gray8); */
    width: 16rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
}

.wrap-brand-logo {
    background-color: var(--white);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    padding: 1rem;
}

.wrap-brand-logo img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.sidebar-admin-list {
    background-color: var(--primary6);
    list-style: none;
    padding-left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem .5rem;
}

.sidebar-item-btn {
    /*background-color: lavender;*/
    width: 100%;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.sidebar-item-btn:focus {
    box-shadow: none;
}

.sidebar-item-btn-left {
    display: flex;
    align-items: center;
    gap: .25rem;
    text-align: start;
}

.sidebar-item-db {
    /* background-color: var(--primary3); */
    color: var(--gray7);
}

.sidebar-item-db:hover {
    background-color: var(--primary4);
    color: var(--gray7);
    text-decoration: none;
}

.active-item {
    background-color: var(--primary3);
    color: var(--gray7);
}

.sidebar-list-collapse,
.btn-toggle-nav {
    list-style: none;
    /* background-color: tomato; */
}

.btn-toggle-nav {
    padding-left: 0;
}

.sidebar-item-collapse {
    /*background-color: lavender;*/
    display: inline-block;
    padding: .75rem 1.5rem;
    text-decoration: none;
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.sidebar-list-collapse--vales,
.sidebar-list-collapse--sedes {
    display: none;
}

.btn-toggle-nav li {
    margin-left: 30px;
}

/* End sidebar */

/* admin panel */
.admin-panel {
    background-color: var(--gray1);
    width: calc(100% - 16rem);
    min-height: 100vh;
    margin-left: 16rem;
    padding: 2rem 1.5rem;
}

.navbar-panel {
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.navbar-panel__title {
    /* background-color: pink; */
}

.navbar-panel__title h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar-panel__title p {
    margin-bottom: 0;
    color: var(--gray5);
}

.wrap-switch-btn-perfil {
    /* background-color: lavender; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-switch-admin {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: none;
    padding: 0;
}

.label-switch-admin {
    /* background-color: lightskyblue; */
    margin-bottom: 0;
    font-size: .875rem;
    text-align: end;
    text-transform: none;
    line-height: 1rem;
}

.switch-admin {
    /* background-color: lightgreen; */
    height: 1.5rem;
}

.dropdown-admin {
    padding: 0;
}

.dropdown-admin__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.btn-group-dropdown-perfil .dropdown-toggle::after {
    content: none;
}

/* End admin panel */

.dashboard-main {
    display: flex;
    gap: 1.5rem;
}

.wrap-charts {
    /* background-color: lavender; */
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.card-admin {
    background-color: var(--white);
    border: 1px solid var(--gray3);
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5re;
    -moz-border-radius: .5re;
    -ms-border-radius: .5re;
    -o-border-radius: .5re;
}

.card-admin__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.chart-colaboradores {
    /* background-color: tomato; */
    width: 15rem;
}

.wrap-chartColaboradores-table {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.table-chart-colaboradores td:first-child,
.table-chart-canal td:first-child {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
}

.table-chart-colaboradores,
.table-chart-canal {
    /* background-color: lavender; */
    text-align: right;
    font-weight: 700;
}

.table-chart-colaboradores tbody tr:last-child td {
    margin-bottom: 1rem;
}

.table-chart-colaboradores tfoot td {
    background-color: var(--blue2);
}

.table-chart-colaboradores tfoot td:first-child {
    /* background-color: pink; */
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.table-chart-colaboradores tfoot td:last-child {
    /* background-color: var(--green3); */
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.table {
    font-size: .875rem;
}

.table td {
    min-height: 2rem;
}

.table tfoot {
    font-weight: 700;
    background-color: var(--gray2);
}

.card-participacionCanal {
    width: 50%;
}

.chart-participacionCanal {
    /* background-color: tomato; */
    width: 10rem;
}

.wrap-chartCanales-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.table-chart-canal {
    margin-bottom: 0;
    width: 70%;
}

.row-cards-admin {
    display: flex;
    gap: 1.5rem;
}

.card-beneficiosVisitas {
    width: 100%;
}

.progressbar-beneficios {
    height: 2.5rem;
    background-color: var(--white);
    width: 100%;
}

.progressbar-beneficios .progress-bar {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.chart-bar-beneficios {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1.2rem;
    position: relative;
}

.chart-bar-beneficios:last-child {
    margin-bottom: 0;
}

.chart-bar-beneficios__position {
    background-color: var(--blue5);
    color: var(--white);
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.progressbar-beneficios p {
    position: absolute;
    margin-bottom: 0;
    font-size: 1rem;
    top: .5rem;
    left: 3.5rem;
}


/* Sidebars events */
.sidebar-events {
    /* background-color: #FFE578; */
    width: 25rem;
}

.wrap-events {
    margin-bottom: 1.5rem;
}

.wrap-events .btn,
.wrap-birthdays .btn {
    width: 100%;
}

.card-event__month {
    margin-bottom: 1rem;
}

.card-event__month-title {
    /* background-color: pink; */
    font-size: .875rem;
    text-transform: uppercase;
}

.card-event {
    padding: .25rem .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.card-event--active {
    background-color: var(--blue2);
}

.card-event p {
    margin-bottom: 0;
}

.card-event__date {
    font-weight: 700;
}

.card-birth {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    margin-bottom: .5rem;
}

.card-birth__date {
    font-weight: 600;
}

.card-birth__active {
    background-color: var(--blue2);
}

.card-birth__colaborator {
    /* background-color: lavender; */
    padding-left: 1rem;
    border-left: 2px solid var(--gray7);
}

/* Sidebar events */

/* END DASHBOARD */

/* MODALS */
.modal-content {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.modal-title {
    font-weight: 700;
    font-weight: 1.25rem;
    margin-bottom: .5rem;
}

.modal-header .modal-title {
    margin-bottom: 0;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-body {
    padding-top: 0;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.form-modal {
    text-align: left;
}

.modal-actions-between {
    /* background-color: #9BDAC9; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-actions {
    display: flex;
    gap: .5rem;
}

.form-modal fieldset {
    margin-bottom: 1rem;
}

.form-modal fieldset:last-child {
    margin-bottom: 0;
}

.step-form {
    background-color: var(--blue5);
    min-width: 1.5rem;
    min-height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: 600;
}

.step-form-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.step-form-title h6 {
    margin-bottom: 0;
}

.icon-modal-title {
    font-size: 2.5rem;
}

/* END MODALS */

/* PANEL COLABORADORES */
.navbar-actions {
    /* background-color: lavender; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.navbar-actions__left {
    /* background-color: pink; */
    display: flex;
    gap: .5rem;
}

.navbar-actions__right {
    /* background-color: pink; */
    display: flex;
    gap: .5rem;
    margin-left: auto;
}

/* End Datatables sort icons */

.table-admin thead th {
    background-color: var(--blue3);
    color: var(--gray7);
}

.table-admin thead th:first-child {
    /* background-color: blue; */
    border-top-left-radius: .5rem;
}

.table-admin thead th:last-child {
    /* background-color: blue; */
    border-top-right-radius: .5rem;
}

.table-admin tbody th,
.table-admin tbody td {
    background-color: var(--white);
}

.table-admin {
    /*background-color: pink;*/
    border: solid 1px var(--gray3);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
}

table.dataTable {
    margin-bottom: 0 !important;
}

.dataTables_wrapper .row:nth-child(2) {
    /* background-color: blue; */
    overflow-x: auto;
}

.table>:not(:first-child) {
    border-top: 0;
}

/* Pagination */

.page-link {
    position: relative;
    display: block;
    color: var(--gray7);
    text-decoration: none;
    background-color: var(--gray2);
    border: 1px solid var(--gray2);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: var(--blue5);
    background-color: var(--gray2);
    border-color: var(--blue5);
}

.page-link:focus {
    z-index: 3;
    color: var(--blue5);
    background-color: var(--white);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.pagination>li>a,
.pagination>li:first-child>a,
.pagination>li:last-child>a,
.pagination>li>span,
.pagination>li:first-child>span,
.pagination>li:last-child>span {
    margin: 0 4px;
    color: var(--gray7);
    background-color: var(--gray2);
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--white);
    background-color: var(--blue5);
    border-color: var(--blue5);
}

.page-item.disabled .page-link {
    color: var(--gray4);
    pointer-events: none;
    background-color: var(--gray2);
    border-color: var(--gray2);
}

/* End pagination */

/* END PANEL COLABORADORES */

/* NUEVO COLABORADOR */
.colaboradorNuevo-main {
    /* background-color: lavender; */
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.colaboradorNuevo-main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.headline2 {
    font-size: 1.5rem;
    font-weight: 600;
}

/* Stepper */
.wrap-stepper {
    /* background-color: lavender; */
    display: none;
}

.show-stepper {
    display: block;
}

.stepper-admin {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.step-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray5);
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: default !important;
}

.step-admin span {
    background-color: var(--white);
    border: 1px solid var(--gray5);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.step-active {
    color: var(--gray7);
}

.step-active span {
    background-color: var(--blue5);
    color: var(--white);
    border: 1px solid var(--blue5);
}

.content-stepper {
    /* background-color: pink; */
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
}

/* End stepper */

/* form */
.wrap-form-admin {
    /* background-color: pink; */
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

.form-actions-right {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
}

.form-actions-between {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

/* End form */

/* END NUEVO COLABORADOR */

/* EMPRESA */
.card-datos-empresa {
    background-color: var(--gray2);
    color: var(--gray5);
    margin-bottom: 1.5rem;
}

.card-datos-empresa__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-datos-empresa__bottom {
    /* background-color: lavender; */
    display: flex;
    justify-content: space-between;
}

.empresa-dato {
    /* background-color: #60C6AA; */
    width: 33%;
}

.empresa-dato span {
    font-weight: .875rem;
}

.empresa-dato p {
    /* background-color: pink; */
    margin-bottom: 0;
    font-weight: 700;
}

/* logo empresa */
.wrap-img-preview {
    /* background-color: lavender; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 14rem;
}

.imageWrapper {
    background-color: var(--white);
    border: solid 1px var(--gray3);
    width: 10.3rem;
    height: 10.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.imageWrapper img {
    width: 80%;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-input-image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.wrap-logo-datos-empresa {
    display: flex;
    gap: 2rem;
}

/* End logo empresa */

/* upload crop image */

#upload-demo {
    position: relative;
    width: 100%;
    height: 250px;
    padding-bottom: 0;
}

.croppie-container h5 {
    position: absolute;
    bottom: 4px;
    text-align: center;
    left: 0;
    right: 0;
    color: var(--white);
    z-index: 2;
    font-size: 1rem;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    color: var(--white);
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px var(--white);
}

.croppie-container .cr-image {
    right: 0;
}

.up-photo-content {
    padding-bottom: 5rem;
}

.cr-slider-wrap p {
    font-size: 1rem;
    color: var(--gray7);
    text-align: left;
    margin-top: 1rem;
}

.cr-slider {
    width: 100%;

}

.cr-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--blue5);
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.cr-slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--blue5);
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.cr-slider::-ms-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--blue5);
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.cr-slider::-webkit-slider-runnable-track {
    /*width: 275px;*/
    height: .75rem;
    cursor: pointer;
    box-shadow: none;
    background: var(--gray3);
    border-radius: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.cr-slider:focus::-webkit-slider-runnable-track {
    background: var(--gray3);
}

.cr-slider::-moz-range-track {
    height: .75rem;
    cursor: pointer;
    box-shadow: none;
    background: var(--gray3);
    border-radius: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.cr-slider::-ms-track {
    height: .75rem;
    cursor: pointer;
    box-shadow: none;
    background: var(--gray3);
    border-radius: .5rem;
    border: none;
    color: transparent;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.upload-logo-empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ci-user-picture {
    background-color: var(--gray4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray3);
}

.imgpreviewPrf {
    background-color: var(--white);
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: contain;
}

/* End upload crop image */

.form-datos-empresa {
    /* background-color: #C5EAE0; */
    width: 100%;
}

.form-row {
    /* background-color: lavender; */
    display: flex;
    gap: 1rem;
}

.form-row .form-group {
    width: 100%;
}

.form-group label {
    margin-bottom: .25rem;
}

.wrap-tipo-pago {
    /* background-color: pink; */
    height: 2.375rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.wrap-tipo-pago .form-check-label {
    margin-bottom: 0;
}

.custom-textArea label {
    margin-bottom: 0;
}

.custom-textArea p {
    margin-bottom: .25rem;
    font-size: .875rem;
    color: var(--gray5);
}

.custom-textArea .contadorCaracteres {
    /* background-color: pink; */
    text-align: end;
}

.form-actions {
    /* background-color: lavender; */
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

/* End logo empresa */


/* END EMPRESA */

/* SEDES */
.table-actions {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
}

.table-actions .form-check {
    margin-bottom: 0;
}

/* END SEDES */

/* NUEVO CONTACTO */
.form-admin {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

/* END NUEVO CONTACTO */

/* INHOUSE */
.inhouse-main {
    /* background-color: #FFF1B4; */
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.inhouse-main-sidebar {
    /* background-color: #9BDAC9; */
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carousel-mini-banner {
    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.carousel-mini-banner .carousel-indicators {
    background-color: rgb(0, 0, 0, .15);
    margin-bottom: .25rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.carousel-mini-banner .carousel-indicators [data-bs-target] {
    height: .625rem;
    width: .625rem;
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 1;
    background-color: var(--white);
}

.carousel-indicators .active {
    background-color: var(--blue5) !important;
}

.inhouse-activacionesAnuales--semestre {
    display: flex;
    gap: .25rem;
    margin-bottom: .5rem;
}

.inhouse-activacionesAnuales--semestre:last-child {
    margin-bottom: 0;
}

.inhouse-activacion--mes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inhouse-activacionesAnuales--semestre .active {
    background-color: var(--primary6);
    color: var(--gray7);
}

.inhouse-activacionesAnuales--semestre .active2 {
    background-color: var(--primary2);
    color: var(--gray5);
}

.inhouse-activacion--mes h3 {
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 600;
}

.inhouse-activacion--box {
    background-color: var(--gray2);
    color: var(--gray4);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.inhouse-main-calendar {
    /* background-color: #C5EAE0; */
    width: 100%;
}

/* FullCalendar */
.fc-view-harness {
    min-height: 32rem;
}

.fc-view-harness a {
    color: var(--gray7);
    text-decoration: none;
}

.fc-col-header {
    width: 100% !important;
    /* background-color: pink; */
}

.fc-scrollgrid-sync-table {
    width: 100% !important;
    height: 100% !important;
}

.fc-daygrid-body {
    width: 100% !important;
    height: 100% !important;
}

.fc-header-toolbar {
    margin-bottom: 1rem !important;
}

.fc-toolbar-title {
    /* background-color: #0C408D; */
    color: var(--gray7);
    font-weight: 600;
    font-size: 1.5rem !important;
}

.fc .fc-button-group {
    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.fc-button-primary {
    background-color: var(--blue5) !important;
    border: 1px solid var(--blue5) !important;
}

/* End FullCalendar */

/* Accordion inhouse */
.accordion-nuevo-item {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border: none;
}

.accordion-nuevo-item .accordion-item {
    margin-bottom: .5rem;
    border: 1px solid var(--gray4);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
}

.accordion-button:not(.collapsed) {
    color: var(--gray7);
    background-color: var(--white);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../fonts/icons/arrow_forward.svg");
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../fonts/icons/arrow_forward.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-nuevo-item .accordion-body {
    border-top: solid 1px var(--gray4);
}

.visita-inhouse__sede {
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 1rem;
}

.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.2 * 1);
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.2 * 2);
}

.visita-inhouse__fecha {
    margin-bottom: 0;
    font-size: .875rem;
}

/* End accordion inhouse */
.card-visita-inhouse {
    border: solid 1px var(--gray4);
    margin-bottom: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;
    text-align: left;
}

/* END INHOUSE */

/* PLANILLA */
.steps-planilla {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    position: relative;
}

.step-item-planilla {
    /* background-color: pink; */
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
}

.step-button-planilla {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--primary6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
}

.step-planilla-dates {
    color: var(--gray5);
}

.step-planilla-active {
    background-color: var(--green5);
    color: var(--white);
}

.step-planilla-inactive {
    background-color: var(--gray4);
}

.step-planilla-danger {
    background-color: var(--red5);
    color: var(--white);
}

.progress-planilla {
    position: absolute;
    width: calc(100% - 200px);
    z-index: 5;
    height: .25rem;
    background-color: var(--gray4);
    left: 0;
    right: 0;
    top: 18px;
    margin: auto;
}

.progress-active {
    background-color: var(--primary5);
}

.progress-success {
    background-color: var(--green5);
}

.progress-danger {
    background-color: var(--red5);
}

/* Upload file */
.input-file {
    position: relative;
    overflow: hidden;
    padding: 0;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.input-file .btn {
    white-space: nowrap;
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
}

.input-file ins {
    /* background-color: #60C6AA; */
    white-space: nowrap;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 1rem;
    color: var(--blue5);
}

.input-file:after {
    content: "";
    display: block;
    clear: both;
}

.input-file input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: -100px;
    z-index: -1;
}

/* End upload file */

.resumen-planilla {
    background-color: var(--gray1);
    border: solid 1px var(--gray4);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;
    width: 300px;
}

.resumen-planilla-title {
    margin-bottom: .25rem;
}

.resumen-planilla-total {
    font-size: 1.25rem;
    font-weight: 700;
}

.resumen-planilla .btn {
    width: 100%;
}

.card-planilla {
    background-color: var(--primary1);
    border: solid 1px var(--primary3);
    padding: 1rem;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.custom-checkboxes,
.checkAll {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
}

/* END PLANILLA */

/* LOADER */

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(239, 240, 246, .9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2000;
    display: none;
    /* display: flex; */
}

.loader img {
    margin-bottom: 1rem;
    height: 8rem;
    width: 8rem;
}

.loader span {
    font-size: 1.5rem;
    text-align: center;
}

/* END LOADER */

/* DRAG & DROP */
.drop_zone {
    /* background-color: #60C6AA; */
    border: 2px dashed var(--gray5);
    padding: 1rem;
    transition: background-color .1s linear .1s;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.drop_zone.dragover {
    background-color: var(--white);
}

.drop_zone--text {
    color: var(--gray7);
}

.drop_zone--sizeFile {
    font-size: .875rem;
    color: var(--gray5);
}

.drop_zone>label>input {
    display: none;
}

.files-container {
    /* background-color: #BAD5FF; */
}

.files-container .row {
    margin-bottom: .5rem;
}

.files-container .row .btn {
    width: 100%;
    margin-left: auto;
}

/* END DRAG & DROP */

/* CUMPLEAÑOS */
#contentFechaAsigMasiva,
#contentFechaAsigIndividual,
#contentFechaSaludoCumple,
#contentFechaAsigIndividualVale,
#contentFechaAsigMasivaVale {
    display: none;
}

.spinner-vale {
    /* background-color: #9BDAC9; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .25rem;
}

.spinner-label {
    margin-bottom: .5rem;
}

.spinner-btn {
    color: var(--white);
    background-color: var(--gray7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
    font-size: .5rem;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.spinner-btn:hover {
    background-color: var(--gray7);
    color: var(--white);
}

.spinner-btn:focus {
    background-color: var(--gray7);
    color: var(--white);
    border: solid 1px var(--gray7);
    box-shadow: 0px 0px 0px 3px rgba(160, 163, 189, 0.5);
}

.product-quantity {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.input-spinner {
    text-align: center;
    width: 2.5rem;
    font-weight: 600;
    border: none;
    height: 2rem;
    font-size: 1.2rem;
}

.vale-asignacion-individual--img {
    /* background-color: #BAD5FF; */
    min-width: 3.5rem;
    min-height: 3.5rem;
    max-width: 3.5rem;
    max-height: 3.5rem;
    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.vale-asignacion-individual--img img {
    width: 100%;
    height: 100%;
}

.vale-asignacion-individual {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--gray3);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;

}

.vale-asignacion-individual .start {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.vale-asignacion-individual .end {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.vale-asignacion-individual__desc h4 {
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.vale-asignacion-individual__desc p {
    font-size: 1rem;
    margin-bottom: 0;
}

.btn-delete-vale {
    color: var(--red5);
}

.btn-delete-vale:hover {
    color: var(--red5);
    background-color: var(--red2);
}

.wrap-vales-individuales {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card-saludo-calendar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: solid 1px var(--gray3);
}

.card-saludo-calendar .start {
    text-align: start;
}

.card-saludo-calendar .start h5 {
    margin-bottom: 0;
}

.card-saludo-calendar .start p {
    margin-bottom: 0;
    color: var(--gray5);
}

.card-saludo-calendar .end {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.wrap-cards-saludo-calendar {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

/* END CUMPLEAÑOS */

/* VALES CORPORATIVOS */
.wrap-vales-corporativos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.vale-corporativo {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: 1px solid var(--gray3);
}

.vale-corporativo .start {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wrap-img-vale-corporativo {
    min-width: 5rem;
    min-height: 5rem;
    max-width: 5rem;
    max-height: 5rem;
    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.wrap-img-vale-corporativo img {
    width: 100%;
    height: 100%;
}

.vale-corporativo__desc h4 {
    margin-bottom: .5rem;
}

.vale-corporativo__desc p {
    margin-bottom: 0;
}

.vale-asignado__desc--content {
    display: flex;
    gap: 2.5rem;
}

.vale-asignado__desc--content p {
    margin-bottom: 0;
}

/* END VALES CORPORATIVOS */

/* DISABLED PANELS */
.disabled-panel {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    color: var(--gray5);
}

/* END DISABLED PANELS */

/* SOLICITUDES */
.accordion-solicitudes {
    margin-bottom: 1.5rem;
    border: none;
}

.accordion-solicitudes .accordion-item {
    margin-bottom: .5rem;
    border: 1px solid var(--gray4);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
}

.accordion-solicitudes .accordion-button {
    font-weight: 600;
}

.datos-solicitud__logo .wrap-brand-logo {
    border: solid 1px var(--gray3);
    padding: 0;
    height: 7.5rem;
    width: 7.5rem;
}

.datos-solicitud {
    display: flex;
    gap: 5rem;
}

.datos-solicitud__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.datos-solicitud__saludo p {
    font-weight: 700;
}

.datos-solicitud-compra .item {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

.datos-solicitud-compra .item:last-child {
    margin-bottom: 0;
}

.datos-solicitud-compra .item p {
    font-weight: 700;
}

.datos-solicitud-compra label,
.datos-solicitud-compra p {
    margin-bottom: 0;
}

.comprobanteDePago {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comprobanteDePago .start {
    color: var(--blue5);
    text-decoration: underline;
}

.comprobanteDePago .end {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* END SOLICITUDES */

/* CUPONES */
.card-cupon {
    background-color: var(--white);
    border: solid 1px var(--gray3);
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    cursor: pointer;
}

.card-cupon img {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    margin-bottom: 1rem;
}

.card-cupon-body h3 {
    font-weight: 600;
    font-size: 1rem;
}

.card-cupon-body p {
    margin-bottom: 0;
    color: var(--gray5);
}

.grid-cupones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    margin-bottom: 1.5rem;
}

.cupon-bee-title {
    display: flex;
    margin-bottom: .5rem;
}

.cupon-bee-title h3 {
    margin-top: 3px;
    margin-bottom: 0;
}

/* END CUPONES */

/* NUEVO CUPÓN */
.content-stepper-cupon {
    /* background-color: lavender; */
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
}

.content-cupon {
    background-color: var(--gray2);
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    width: 30rem;
}

.form-nuevoCupon {
    width: 100%;
}

.wrap-img-preview-cupon {
    /* background-color: lavender; */
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.imageWrapper-cupon {
    background-color: var(--white);
    border: solid 1px var(--gray4);
    border-radius: .5rem;
    overflow: hidden;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper-cupon img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.file-upload-cupon {
    position: relative;
    overflow: hidden;
}

.file-input-image-cupon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.wrap-label-file-upload-cupon {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

.editarDatosCupon {
    /* background-color: lavender; */
    display: flex;
    gap: 1rem;
}

.wrap-img-preview-editarCupon {
    /* background-color: lavender; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
}

.image-card-suggested {
    color: var(--gray5);
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: .875rem;
}

.image-card-suggested p {
    margin-bottom: 0;
}

.form-datosEditarCupon {
    width: 100%;
}

/* END NUEVO CUPÓN */

/* GESTIÓN DE PRODUCTOS Y MARCAS */
.brand-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.brand-header img {
    width: 8rem;
    aspect-ratio: 4/3;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.brand-desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.brand-desc p {
    color: var(--gray5);
    margin-bottom: 0;
}

.imgProductTable {
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    width: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}
/* END GESTIÓN DE MARCAS Y PRODUCTOS */

/* COMUNICACIONES */
.container-banners {
    /* background-color: lavender; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-orderBanner {
    background-color: var(--gray2);
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: solid 1px var(--gray3);
}

.content-orderBanner select {
    width: 4rem;
}

.comunicacion-banner {
    width: 100%;
    position: relative;
}

.comunicacion-banner-img {
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: cover;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.banner-actions {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.img-banner-modal {
    width: 100%;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-top: 1rem;
}

.wrap-img-preview-addBanner {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.imageWrapper-banner-mobile {
    width: 12.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
    border: solid 1px var(--gray3);
}

.image-preview-addBannerMobile {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.file-upload-addBannerMobile {
    position: relative;
    overflow: hidden;
}

.file-input-image-addBannerMobile {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.wrap-label-file-upload-addBannerMobile {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imageWrapper-banner-desktop {
    width: 60%;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
    border: solid 1px var(--gray3);
}

.image-preview-addBannerDesktop {
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: cover;
}

.grid-popups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    margin-bottom: 1.5rem;
}

.card-popup {
    background-color: var(--gray2);
    border: solid 1px var(--gray3);
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.card-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.card-popup-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    object-fit: cover;
}

.img-pop-modal {
    width: 50%;
    margin-top: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.content-grid-actions {
    width: 100%;
}
/* END COMUNICACIONES */

/* MODULOS MONTALVO */

/* END MODULOS MONTALVO */

